*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 100%;
    
    background-image: #;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    font-family: sans-serif;
}

.navbar {
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo{
    width: 135px;
    cursor: pointer;
    margin-top: 2%;
    margin-left: -2%;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.4);
}

ul{
    margin-top: -4%;
    padding: 5PX;
    position: relative;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    background:rgba(255, 255, 255, 0.1) ;
    border: 2px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.4);
    z-index: 10;
    overflow: hidden;

}

ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
    
}
ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-top: -3%;
    transition: .4s ease;
    transition: all 0.4s linear;

}

ul li a:hover{
    color: rgb(243, 73, 5);
    transform: scale(2.4s);
}
